<div class="topbar">
  <div class="topbar-left">
    <div class="logo-box"><img src="../components/bmc.png" alt="IW"></div>
    <div class="brand">
      <div class="brand-title">IWMDSS</div>
      <div class="brand-subtitle">Brihanmumbai Municipal Corporation</div>
    </div>
  </div>

  <div class="topbar-links">
    <a class="nav-link" href="dashboard.html">Dashboard</a>
    <a class="nav-link" href="events.html">Events</a>
    <a class="nav-link" href="analytics.html">Analytics</a>
    <a class="nav-link" href="hotspots.html">Hotspots</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>

  <div class="topbar-right">
    <button class="download-btn" id="downloadReportBtn" onclick="downloadAnalyticsPDF()">⬇ Download Report</button>
  </div>
</div>